In [39]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import os

In [47]:
ROOT_DIR = os.path.dirname(os.path.abspath(os.curdir))
DATASET_PATH = f"{ROOT_DIR}/source_data/superset_hr.xlsx"
GOOGLE_COLAB_PATH = '/content/superset_hr.xlsx'

try:
    df_original = pd.read_excel(DATASET_PATH)
except FileNotFoundError:
    print(f"Can't open file from path: {DATASET_PATH}")
    print(f"Using google colab path instead: {GOOGLE_COLAB_PATH}")
    df_original = pd.read_excel(GOOGLE_COLAB_PATH)

In [66]:
df_original.sample(5)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,income_name,name,published_at,created_at,collected_at,url,...,address__city,schedule__name,grade,employment__name,key_skills__names,languages__names,exchange_rate,salary_from_gross,salary_to_gross,salary_average
116828,118841,118841,118840,94977741,Менеджер по продажам,Менеджер по продажам (электроинструмент),2024-03-18T15:52:24+0300,2024-03-18T15:52:24+0300,2024-03-29 16:50:33.241,https://api.hh.ru/vacancies/94977741?host=hh.ru,...,NaN,Полный день,Junior (1-3),Полная занятость,[],[],1.000,192100.0,NaN,NaN
131114,133533,133533,133531,96116489,Product manager,Senior/Lead Product Manager (Search) | Старший...,2024-04-03T16:43:16+0300,2024-04-03T16:43:16+0300,2024-04-03 19:25:52.064,https://api.hh.ru/vacancies/96116489?host=hh.ru,...,NaN,Полный день,Middle (3-6),Полная занятость,"['Управление продуктом', 'Управление разработк...",['Английский'],NaN,NaN,NaN,NaN
147052,149875,149875,149873,96533168,Руководитель проектов,Менеджер по внедрению / Менеджер проекта / Биз...,2024-04-09T15:12:11+0300,2024-04-09T15:12:11+0300,2024-04-09 16:32:26.785,https://api.hh.ru/vacancies/96533168?host=hh.ru,...,NaN,Удаленная работа,Junior (1-3),Полная занятость,"['Проектный менеджмент', 'Стратегическое мышле...",[],1.000,90400.0,169500.0,129950.0
30150,30543,30543,30543,93545862,QA инженер,Senior QA инженер,2024-02-20T14:28:34+0300,2024-02-20T14:28:34+0300,2024-02-23 11:46:54.110,https://api.hh.ru/vacancies/93545862?host=hh.ru,...,NaN,Полный день,Middle (3-6),Полная занятость,"['Проведение тестирований', 'Регрессионное тес...",[],0.206,139668.0,NaN,NaN
95078,96776,96776,96775,95026797,Системный аналитик,Бизнес/системный аналитик (B2С web rusklimat.ru),2024-03-19T10:55:00+0300,2024-03-19T10:55:00+0300,2024-03-24 19:26:33.262,https://api.hh.ru/vacancies/95026797?host=hh.ru,...,Москва,Полный день,Middle (3-6),Полная занятость,"['Бизнес-анализ', 'BPMN', 'Системный анализ', ...",[],NaN,NaN,NaN,NaN

In [64]:
def get_clear_df_version(df: pd.DataFrame) -> pd.DataFrame:
    df_new = df[['id', 'income_name', 'area__name', 'schedule__name','grade', 
                 'key_skills__names','salary__currency','employer__name','languages__names', 
                 'exchange_rate', 'salary_from_gross', 'salary_to_gross', 'salary_average']]
    display(df_new.sample(3))
    display(df_new.isna().sum())

    return df_new

In [65]:
df_clear = get_clear_df_version(df_original)

,id,income_name,area__name,schedule__name,grade,key_skills__names,salary__currency,employer__name,languages__names,exchange_rate,salary_from_gross,salary_to_gross,salary_average
94527,93149553,Специалист технической поддержки,Москва,Полный день,Junior (1-3),"['Техническая поддержка', 'Power BI', 'Linux',...",NaN,ГКУ Инфогород,[],NaN,NaN,NaN,NaN
48585,93756801,Менеджер по работе с клиентами,Краснодар,Удаленная работа,Junior (1-3),"['Активные продажи', 'Навыки продаж', 'Навыки ...",RUR,ReStretch,[],1.0,33900.0,45200.0,39550.0
131952,95861604,Руководитель проектов,Санкт-Петербург,Удаленная работа,Junior (1-3),"['Проектный менеджмент', 'Project management',...",RUR,Digital Agency LAVA,[],1.0,60000.0,80000.0,70000.0

id                        0
income_name               2
area__name                0
schedule__name            0
grade                     0
key_skills__names         0
salary__currency      66049
employer__name            0
languages__names          0
exchange_rate         66049
salary_from_gross     73448
salary_to_gross      115608
salary_average       123007
dtype: int64